/*mediaqueries*/
/*color*/
/* Bootstrap Select */
/*sizes*/
/*font*/
/*mixin and utilities*/
/*mediaqueries*/
/*checkbox color*/
/* line 3, style.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  color: #4a4a4a;
  position: relative;
  z-index: 0; }

/* line 11, style.scss */
#footer {
  background: #4a4a4a;
  padding: 30px 0;
  z-index: 2;
  position: relative; }
  /* line 17, style.scss */
  #footer * {
    color: #fff;
    font-size: 1.25rem; }
  /* line 22, style.scss */
  #footer .footer-bottom {
    padding: 5px 15px; }
    /* line 25, style.scss */
    #footer .footer-bottom p {
      margin-bottom: 0;
      font-size: 14px; }
  /* line 32, style.scss */
  #footer .phone img {
    max-height: 62px; }
  /* line 37, style.scss */
  #footer .sections-links {
    margin: 0 0 5px;
    padding: 10px 15px; }
  /* line 42, style.scss */
  #footer ul {
    overflow: hidden; }
  /* line 46, style.scss */
  #footer ul li a {
    padding: 0; }

@media (min-width: 768px) {
  /* line 53, style.scss */
  #footer .sections-links {
    margin: 0 0 5px; }
  /* line 57, style.scss */
  #footer .logo-footer {
    float: left;
    margin-bottom: 10px; }
  /* line 62, style.scss */
  #footer ul {
    overflow: hidden; }
  /* line 66, style.scss */
  #footer ul li a {
    padding: 0; } }
/* line 72, style.scss */
h1, h2, h3, h4, h5, h6 {
  color: #000; }

/* line 76, style.scss */
h5 {
  font-weight: 600;
  text-transform: uppercase; }

/* line 81, style.scss */
ul {
  background: transparent;
  margin: 0;
  padding: 0; }
  /* line 86, style.scss */
  ul li {
    padding: 0 8px 0 0;
    margin: 4px 0; }

/* line 92, style.scss */
h2 {
  margin: 32px 0; }

/* line 96, style.scss */
h4 {
  font-weight: bold; }

/* line 100, style.scss */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  /* line 105, style.scss */
  ul li {
    margin: 8px 0;
    padding: 0 8px; }
    /* line 109, style.scss */
    ul li span {
      float: left; }
    /* line 113, style.scss */
    ul li a {
      padding: 0 16px;
      float: left; }
      @media (max-width: 480px) {
        /* line 113, style.scss */
        ul li a {
          padding: 0; } }

/*button & input */
/* line 125, style.scss */
a, a:active, a:hover, a:focus {
  outline: 0; }

/* line 129, style.scss */
:focus, :active {
  outline: none; }

/* line 133, style.scss */
::-moz-focus-inner {
  border: 0; }

/* line 137, style.scss */
a::-moz-focus-inner {
  border: 0; }

/* line 141, style.scss */
.btn {
  border-bottom: 2px solid #000;
  padding: 8px;
  white-space: normal;
  border-radius: 2px;
  text-align: center;
  outline: none;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0), 0 0 0 transparent;
  text-shadow: none; }
  /* line 153, style.scss */
  .btn.btn-sm {
    padding: 4px; }
  /* line 157, style.scss */
  .btn.btn-link {
    border-color: transparent; }

/* line 162, style.scss */
.btn:focus, .btn:active:focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none; }

/* line 167, style.scss */
.btn:hover, .btn:focus, .btn:active {
  color: #fff;
  outline: none;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0), 0 0 0 transparent; }

/* line 173, style.scss */
.btn-default {
  border-color: #203643;
  border-width: 0 0 2px 0;
  background: #4C7389;
  color: #fff; }
  /* line 179, style.scss */
  .btn-default:hover, .btn-default:active, .btn-default:focus {
    background: #203643;
    border-color: #203643; }

/* line 185, style.scss */
.btn-link.btn-link-inline {
  padding: 0;
  border: none;
  vertical-align: baseline;
  line-height: inherit;
  font-size: inherit; }

/* line 193, style.scss */
.btn-small {
  padding: 4px 8px;
  font-size: 12px; }

/* line 198, style.scss */
.btn-big {
  padding: 16px 8px; }

/* line 202, style.scss */
input[placeholder],
[placeholder],
*[placeholder] {
  color: #4a4a4a; }

/* line 208, style.scss */
*::-webkit-input-placeholder {
  color: #4a4a4a; }

/* line 212, style.scss */
*:-moz-placeholder {
  /* FF 4-18 */
  color: #4a4a4a; }

/* line 217, style.scss */
*::-moz-placeholder {
  /* FF 19+ */
  color: #4a4a4a; }

/* line 222, style.scss */
*:-ms-input-placeholder {
  /* IE 10+ */
  color: #4a4a4a; }

/* line 227, style.scss */
.row {
  width: 100%; }

/* line 231, style.scss */
.content {
  padding: 0 16px; }
  @media (min-width: 1174px) {
    /* line 231, style.scss */
    .content {
      margin: auto; } }

/* line 239, style.scss */
#header {
  background-color: #fff; }
  /* line 242, style.scss */
  #header .header-top {
    padding: 15px 0; }
  /* line 246, style.scss */
  #header .items-menu {
    text-align: right; }
    /* line 249, style.scss */
    #header .items-menu li {
      padding: 0;
      margin: 0;
      display: inline-block;
      zoom: 1;
      *display: inline; }
      /* line 255, style.scss */
      #header .items-menu li a {
        padding: 8px 5px;
        float: none;
        font-size: 12px;
        font-weight: 600;
        min-width: 36px;
        display: block; }
        /* line 263, style.scss */
        #header .items-menu li a:hover {
          text-decoration: none; }
        /* line 267, style.scss */
        #header .items-menu li a.link-black {
          color: #000;
          min-width: 0; }
    /* line 274, style.scss */
    #header .items-menu .item-menu-sm {
      display: none; }
    /* line 278, style.scss */
    #header .items-menu .item-menu-xs {
      display: inline-block;
      zoom: 1;
      *display: inline; }
  /* line 283, style.scss */
  #header .header-bottom {
    padding: 5px 0;
    border-bottom: 1px solid #c6c6c6; }
    /* line 287, style.scss */
    #header .header-bottom .items-menu {
      text-align: center; }
      /* line 291, style.scss */
      #header .header-bottom .items-menu li a {
        min-width: 80px; }

@media (min-width: 768px) {
  /* line 301, style.scss */
  #header .header-top {
    padding: 16px; }
  /* line 306, style.scss */
  #header .items-menu li {
    padding: 0 5px; }
    /* line 329, style.scss */
    #header .items-menu li a {
      padding: 8px; }
  /* line 342, style.scss */
  #header .items-menu .item-menu-sm {
    display: inline-block;
    zoom: 1;
    *display: inline; }
  /* line 346, style.scss */
  #header .items-menu .item-menu-xs {
    display: none; } }
/* ADD STYLE */
/* line 356, style.scss */
*:focus, *:hover, .bootstrap-select .dropdown-toggle:focus {
  outline: 0 !important;
  box-shadow: none; }

/* line 361, style.scss */
.marginRow {
  margin-left: -15px !important;
  margin-right: -15px !important;
  width: auto; }
  @media (min-width: 1200px) {
    /* line 367, style.scss */
    .marginRow-lg {
      margin-left: -15px !important;
      margin-right: -15px !important;
      width: auto; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    /* line 375, style.scss */
    .marginRow-md {
      margin-left: -15px !important;
      margin-right: -15px !important;
      width: auto; } }
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 383, style.scss */
    .marginRow-sm {
      margin-left: -15px !important;
      margin-right: -15px !important;
      width: auto; } }
  @media (max-width: 767px) {
    /* line 391, style.scss */
    .marginRow-xs {
      margin-left: -15px !important;
      margin-right: -15px !important;
      width: auto; } }

/* line 400, style.scss */
.btn.btn-empty {
  background-color: transparent;
  border: none;
  color: #5a8daa; }
  /* line 405, style.scss */
  .btn.btn-empty:hover, .btn.btn-empty:focus, .btn.btn-empty:active {
    color: #547183; }
/* line 410, style.scss */
.btn.btn-white {
  background-color: transparent;
  border: 1px solid #ccc;
  color: #4a4a4a; }
  /* line 415, style.scss */
  .btn.btn-white.bg-white {
    background-color: #fff; }
  /* line 419, style.scss */
  .btn.btn-white:hover, .btn.btn-white:focus, .btn.btn-white:active {
    color: #4a4a4a; }
  /* line 423, style.scss */
  .btn.btn-white.btn-noborder {
    border: none;
    color: #5a8daa; }
/* line 429, style.scss */
.btn.btn-gray {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  color: #4a4a4a; }
  /* line 434, style.scss */
  .btn.btn-gray:hover, .btn.btn-gray:focus, .btn.btn-gray:active {
    color: #4a4a4a; }

/* line 441, style.scss */
.bootstrap-select .btn {
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap; }
  /* line 446, style.scss */
  .bootstrap-select .btn.btn-white {
    padding: 0;
    background-color: #fff;
    border: 1px solid #ccc; }
    /* line 451, style.scss */
    .bootstrap-select .btn.btn-white .filter-option {
      padding: 5px 30px 5px 10px;
      border-right: 30px solid #5a8daa; }
    /* line 456, style.scss */
    .bootstrap-select .btn.btn-white .caret {
      right: 11px;
      color: #fff; }
    /* line 461, style.scss */
    .bootstrap-select .btn.btn-white:hover, .bootstrap-select .btn.btn-white:focus {
      color: #003e42; }
/* line 468, style.scss */
.bootstrap-select.option-white .dropdown-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0; }
  /* line 476, style.scss */
  .bootstrap-select.option-white .dropdown-menu li a:hover, .bootstrap-select.option-white .dropdown-menu li a:focus {
    background: none;
    background-color: #bdd1dd;
    color: #003e42; }
/* line 488, style.scss */
.bootstrap-select ul li a {
  float: none;
  display: block;
  overflow: hidden; }
/* line 495, style.scss */
.bootstrap-select ul .glyphicon {
  float: none;
  padding-right: 0;
  height: auto;
  font-size: inherit; }
/* line 504, style.scss */
.bootstrap-select.btn-group > .btn, .bootstrap-select.btn-group-vertical > .btn {
  float: none; }

/* line 511, style.scss */
#Container .pagination-container {
  margin: 60px auto 15px auto;
  text-align: center; }
  /* line 515, style.scss */
  #Container .pagination-container .pagination-item {
    background-color: #f4f4f4;
    position: relative;
    color: #4C7389;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    zoom: 1;
    *display: inline; }
    /* line 526, style.scss */
    #Container .pagination-container .pagination-item:hover, #Container .pagination-container .pagination-item:focus, #Container .pagination-container .pagination-item:active {
      text-decoration: none; }
  /* line 530, style.scss */
  #Container .pagination-container .pagination-group {
    background-color: #f4f4f4;
    position: relative;
    color: #4C7389;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
    zoom: 1;
    *display: inline; }
    /* line 539, style.scss */
    #Container .pagination-container .pagination-group:hover, #Container .pagination-container .pagination-group:focus, #Container .pagination-container .pagination-group:active {
      text-decoration: none; }
    /* line 543, style.scss */
    #Container .pagination-container .pagination-group .pagination-item {
      padding: 0 10px; }
  @media (max-width: 480px) {
    /* line 548, style.scss */
    #Container .pagination-container .pagination-group {
      display: none; } }
/* line 554, style.scss */
#Container .sub-header {
  background: #767879;
  padding: 30px 0;
  z-index: 2;
  position: relative; }
  /* line 560, style.scss */
  #Container .sub-header .content {
    background-repeat: no-repeat;
    background-position: 220px center; }
  /* line 564, style.scss */
  #Container .sub-header .sub-title {
    color: #fff;
    font-weight: 600;
    font-size: 2.8em;
    line-height: 1.2em;
    padding: 10px 0; }
  @media (min-width: 768px) and (max-width: 1174px) {
    /* line 573, style.scss */
    #Container .sub-header .content {
      background-position: right center;
      background-size: 56%; } }
  @media (min-width: 480px) and (max-width: 767px) {
    /* line 580, style.scss */
    #Container .sub-header .content {
      background-position: right 20px;
      background-size: 48%; } }
  @media (max-width: 767px) {
    /* line 587, style.scss */
    #Container .sub-header .content {
      background-position: center top;
      background-size: 80%;
      padding: 30px 0 0 0; }
    /* line 592, style.scss */
    #Container .sub-header .sub-title {
      font-size: 2em;
      padding: 10px 0;
      text-align: center;
      padding-top: 60px; } }
/* line 601, style.scss */
#Container .press-header {
  padding: 0;
  z-index: 2;
  position: relative; }
  /* line 606, style.scss */
  #Container .press-header .press-one, #Container .press-header .press-two {
    padding: 10px 0;
    height: 50px;
    font-weight: 600;
    font-size: 1.6em;
    line-height: 1.4em;
    text-transform: uppercase;
    color: #4C7389;
    background: #D9C828; }
    /* line 616, style.scss */
    #Container .press-header .press-one .title, #Container .press-header .press-two .title {
      text-align: right;
      margin-right: 130px; }
    @media (max-width: 992px) {
      /* line 621, style.scss */
      #Container .press-header .press-one .title, #Container .press-header .press-two .title {
        text-align: center;
        margin: 0 auto; } }
  /* line 628, style.scss */
  #Container .press-header .press-two {
    background: #4C7389;
    color: #fff; }
    /* line 632, style.scss */
    #Container .press-header .press-two .title {
      text-align: left;
      margin-left: 180px;
      margin-right: 0px; }
    @media (max-width: 992px) {
      /* line 638, style.scss */
      #Container .press-header .press-two .title {
        text-align: center;
        margin: 0 auto; } }
/* line 647, style.scss */
#Container .sezione-pro-area-pro {
  background-position: 25% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 40px 0; }
  /* line 654, style.scss */
  #Container .sezione-pro-area-pro .area-pro-content {
    background: rgba(255, 255, 255, 0.7);
    position: relative;
    z-index: 20;
    text-align: left;
    color: #52565b;
    margin: 30px auto; }
    /* line 662, style.scss */
    #Container .sezione-pro-area-pro .area-pro-content .brand-group {
      float: left;
      padding: 10px 15px; }
      /* line 666, style.scss */
      #Container .sezione-pro-area-pro .area-pro-content .brand-group img {
        padding: 15px; }
      /* line 669, style.scss */
      #Container .sezione-pro-area-pro .area-pro-content .brand-group.variante img {
        padding: 0 15px; }
    /* line 673, style.scss */
    #Container .sezione-pro-area-pro .area-pro-content .area-pro-title {
      padding: 0px 40px 15px 60px;
      font-size: 1.8em;
      font-style: italic;
      font-weight: 600;
      clear: both; }
    @media (min-width: 1200px) and (max-width: 1332px) {
      /* line 683, style.scss */
      #Container .sezione-pro-area-pro .area-pro-content .brand-group img {
        padding: 15px 9px; }
      /* line 686, style.scss */
      #Container .sezione-pro-area-pro .area-pro-content .brand-group.variante img {
        padding: 0 9px; } }
    @media (max-width: 992px) {
      /* line 694, style.scss */
      #Container .sezione-pro-area-pro .area-pro-content .brand-group {
        float: none;
        text-align: center; }
        /* line 698, style.scss */
        #Container .sezione-pro-area-pro .area-pro-content .brand-group.variante {
          display: block; }
        /* line 701, style.scss */
        #Container .sezione-pro-area-pro .area-pro-content .brand-group img {
          padding: 15px 10px; }
        /* line 704, style.scss */
        #Container .sezione-pro-area-pro .area-pro-content .brand-group.variante img {
          padding: 0 10px; }
      /* line 708, style.scss */
      #Container .sezione-pro-area-pro .area-pro-content .area-pro-title {
        padding: 15px;
        margin: 0 auto;
        text-align: center; } }
/* line 717, style.scss */
#Container .press-footer {
  padding-top: 10px;
  background: #DEDEDE;
  text-align: center;
  color: #767879;
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.6em; }
  /* line 726, style.scss */
  #Container .press-footer a {
    font-weight: 600; }
    /* line 729, style.scss */
    #Container .press-footer a:hover, #Container .press-footer a:focus, #Container .press-footer a:active {
      text-decoration: none; }
/* line 735, style.scss */
#Container .sezione-pro-area {
  padding-top: 40px;
  padding-bottom: 40px; }
  /* line 739, style.scss */
  #Container .sezione-pro-area .row {
    margin: 12px auto; }
  /* line 743, style.scss */
  #Container .sezione-pro-area .data {
    background: #ebf5f9;
    float: left;
    width: 70px;
    height: 70px;
    padding: 12px;
    overflow: hidden;
    margin-right: 4px;
    font-size: 0.9em;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    display: block; }
    /* line 758, style.scss */
    #Container .sezione-pro-area .data span {
      display: block; }
    /* line 762, style.scss */
    #Container .sezione-pro-area .data span.big {
      font-size: 2em; }
  /* line 767, style.scss */
  #Container .sezione-pro-area .logo-press {
    background: #ebf5f9;
    height: 70px;
    overflow: hidden;
    text-align: center;
    margin: 0 auto; }
    @media (max-width: 320px) {
      /* line 775, style.scss */
      #Container .sezione-pro-area .logo-press img {
        transform: scale(0.6);
        -ms-transform: scale(0.6);
        -webkit-transform: scale(0.6); } }
  /* line 784, style.scss */
  #Container .sezione-pro-area .area-title {
    background: #ebf5f9;
    color: #4C7389;
    min-height: 70px;
    padding: 18px 20px;
    font-size: 1.4em;
    line-height: 34px;
    vertical-align: middle;
    font-weight: 600;
    font-style: italic;
    text-align: left;
    display: block;
    margin: 0 0 0 4px;
    cursor: pointer; }
    @media (max-width: 767px) {
      /* line 800, style.scss */
      #Container .sezione-pro-area .area-title {
        margin: 12px auto; } }
    /* line 805, style.scss */
    #Container .sezione-pro-area .area-title span {
      font-style: normal;
      color: #D9C828; }
  /* line 811, style.scss */
  #Container .sezione-pro-area a:hover, #Container .sezione-pro-area a:focus {
    text-decoration: none; }
  /* line 815, style.scss */
  #Container .sezione-pro-area .hide-review {
    display: none;
    background: #ebf5f9;
    padding: 18px 20px;
    font-size: 1.2em;
    font-weight: 600;
    text-align: left;
    margin-left: 4px; }
    /* line 824, style.scss */
    #Container .sezione-pro-area .hide-review .video {
      padding: 0 100px; }

/*# sourceMappingURL=style.css.map */